.btn {
  display: inline-block;
  //padding: $btn-padding-y $btn-padding-x;
  //border:0 none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border:$input-btn-border-width solid transparent;
  color: #fff;
  text-decoration: none;
 // font-size:1.25rem;
//  border-radius: 5px;
  user-select: none;  //not allow the user to select text,eg a label
  @include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);
  @include transition($btn-transition);

  &:focus{
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  @include hover-focus {
    text-decoration: none;
  }

  &.active,
  &:active {
    background-image: none;
     @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }

  a.btn.disabled{
      pointer-events: none;
  }

}

.btn-primary{
  background-color: blue;
  @include hover-focus {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.btn-danger{
  background-color: red;
}

.btn-group{
  display: inline-flex;

   > .btn {
    position: relative;
    flex: 0 1 auto;

    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

.card{
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  border: 1px solid red;
  @include border-radius($border-radius);
  .card-img-top{
    width: 100%;
  }
  .card-title{
    margin-bottom:0;
  }
  .card-text{
    flex-direction: column;
  }
  .card-body{
    padding: 1rem;
  }

  .list-group{
    list-style: none;
    margin: 0;
    padding: 0;
    border:1px splid red;
    .list-group-item{
      padding: 0.75rem;
      + .list-group-item{
        border-top:1px solid red;
      }
    }
  }
}
/*
.breadcrumb{
  list-style: none;
  li{
    float: left;
  }
  a{
    float: left;
    text-decoration: none;
    padding: 0 0.75rem;
    &:hover{
        text-decoration: underline;
      }
  }
  li:not(:last-child)::after{
    content: "/";
  }
  .active{
    a{
      color:gray;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.breadcrumb::after{
  content: "";
  display: table;
  clear: both;
}
*/

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding:0 0.75rem;
  margin-bottom: 0.75rem;
  list-style: none;
  background: ghostwhite;
}

.breadcrumb-item {
  +.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color:green;
    content: "/";
  }
  +.breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  +.breadcrumb-item:hover:before {
    text-decoration: none;
  }
  &.active {
    color:black;
  }
}

.form-group{
   display: flex;
   flex-direction: column;
}

.form-control{
  display: block;
  padding: 0.35rem 1rem;
  width: 100%;
}

.input-group{
  display: flex;
  align-items: center;
  width: 100%;
  .input-group-addon{
    margin-bottom: 0;
    background: gray;
    text-align: center;
    line-height: 1.5;
    text-align: center;
    padding: .25rem;
    font-size: 1rem;
    border: 1px solid gray;
  }
  .form-control{
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: .25rem;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid gray;
    background-color: #fff;
  }
}

